<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			Wonder Woman (2017)
		</title>
		<base href=".">
		<link rel="stylesheet" href="styles/styles.css">
	</head>
    <body>

        <div class="top-menu">

            <a href="index.html"><h1>Blu-ray Stuff</h1></a>
            <button onclick="window.location='singin.html'">Carrito de la compra</button>
            <button onclick="window.location='register.html'">Registro</button>
            <button onclick="window.location='signin.html'">Iniciar Sesión</button>

        </div>

				<aside id="side-menu">

						<!-- Caja de búsqueda -->
						<form>
								<input type="text" name="movie" placeholder="Busca tu película">
						</form>

						<a href="index.html"><h3>Novedades</h3></a>

						<!-- Filtrar por categoría -->
						<div class="dropdown">
								<h3>Categorías</h3>
								<ul>
										<li><a href="index.html">Drama (29)</a></li>
										<li><a href="index.html">Comedia (24)</a></li>
										<li><a href="index.html">Ciencia Ficción (17)</a></li>
										<li><a href="index.html">Fantasía (9)</a></li>
										<li><a href="index.html">Documental (3)</a></li>
								</ul>
						</div>

				</aside>

		<!-- He optado por hacerlo con un div porque sino pisaba los demás main -->
		<div class = "description">
			<a id = "add-basket" href="singin.html"><button>Añadir al carrito</button></a>
			<h1>
				Wonder Woman (2017)
			</h1>
			<div id= "film-description">
				<img src="assets/img/wonderwoman.jpg" alt="Image not available" >
			</div>
			<div id="text-description">
				Diana es una joven guerrera, hija de Zeus y hermana de Ares, criada como princesa guerrera de las amazonas en una isla protegida y entrenada para ser una luchadora invencible.
				Después de que Steve Trevor, un piloto estadounidense trabajando como espía para el Reino Unido, se estrelle en un avión alemán en el mar cerca de dicha isla, es salvado por la princesa,
				a quien le relata sobre el desarrollo de una guerra mundial, denominada por él como la Gran Guerra, que está sucediendo en ese momento. Entonces, Diana sale de su hogar para tratar
				de detener este enfrentamiento y frenar a Ares, el Dios de la Guerra, de una vez y para siempre. Los dos se marchan en una barca hacia su destino, Londres, pero cuando llegan sus jefes
				no se sienten agradados por la información proporcionada por el piloto sobre un tipo de gas creado por Doctor Poison (Elena Anaya) que sería extremadamente venenoso para los soldados si
				lo sueltan porque rompería también las máscaras que soportarían todos los demás gases, por otro lado, se está tratando de negociar un acuerdo de paz que acabará con la guerra, pero el
				general Ludendorff y la Doctora Veneno (o Doctor Poison), del lado de los alemanes, pretenden crear un gas letal que pueda destruir las máscaras que son inmunes al resto de gases,
				lanzarlo y ganar la guerra bajo la tapadera perfecta: una gala en la que se celebrará el fin de la guerra y el acuerdo de paz.
				<P>
				Steve y Diana deciden ir ellos solos a por ellos pero acompañados por un equipo seleccionado por ellos Charlie (Ewen Bremner) y Sameer. Consiguen salvar a un pueblo
				inocente ocupado por los alemanes en la guerra gracias a que Diana no soportaba ver sufrir a las personas inocentes, pasan la noche en el pueblo, Diana y Steve bailan y se van
				a una habitación donde se besan y pasan la noche juntos. Cuando amanece van hacia la gala donde estará el general Ludendorff (Danny Huston), el cual Diana piensa que es Ares.
				Consigue matarlo con la esperanza de que acabe la guerra, pero se da cuenta de que todo sigue igual, Steve le dice que quizás no es culpa de Ares, sino de los humanos y le pide
				que le acompañe a intentar detener el avión que se dirige a Londres cargado de bombas con el gas letal, Diana se niega al ver que es todo culpa de los humanos y dice que la humanidad
				no merece su ayuda. Steve se marcha hacia el avión y Diana se queda, entonces aparece el jefe de Steve, (David Thewlis), quien resultó ser Ares. Mientras tanto Steve piensa que bastará
				con no dejar que el avión despegue a Londres, pero entonces descubren que tiene un temporizador, él, que es el único infiltrado que sabe pilotar, decide robar el avión, antes va corriendo
				hasta Diana, que no	escucha nada por el impacto de una onda expansiva que ha provocado Ares y le dice que tiene que irse, ella insiste que lo que sea lo puede hacer ella aunque no es
				capaz de escucharlo y él se niega insistiendo en que "él puede salvar el presente y ella puede salvar el futuro", le regala el reloj el cual le regaló su padre de pequeño y por el cual
				Diana le preguntó cuando se conocieron, ya que ella no sabía lo que era, le dice que la ama y que ojalá tuvieran más tiempo, entonces se marcha al avión, dentro de este, dispara a las
				bombas haciéndolas explotar para que el avión no llegue a
				Londres y muere.
				<P>
				Mientras tanto la protagonista y Ares luchan en una batalla épica, Diana está débil y es acorralada por Ares, entonces ve a Steve en el avión y observa desde ahí como explota,
				arrasa con todo a causa de la ira y el dolor, entonces Ares la invita a destruir a la humanidad y aliarse a él para acabar con todo, empezando por la Doctora Veneno (o Doctor Poison),
				entonces se le viene a la mente a Diana todo lo que le dijo Steve antes de irse y es capaz de por fin escucharlo, y al darse cuenta de que él, como humano, fue capaz de dar su vida por
				otras vidas, comprende que en la humanidad no hay solo crueldad, sino también amor. Sobre la base de ello Diana obtiene fuerzas para seguir, no mata a Doctor Poison y acaba ganando la
				batalla. Cuando Ares muere todo vuelve a la normalidad y la guerra acaba.
				<P>
				Todos celebran en Londres que ha acabado la guerra y aparece Diana viendo el panel de los soldados perdidos en la guerra, ve una foto de Steve y la mira con tristeza.
				La escena final enseña a Diana en la actualidad en París, que ha recibido un maletín con el reloj de Steve y una foto (parte de Bruce Wayne) que les hicieron en el pueblo cuando
				consiguieron librarlo de los alemanes, y por eso, Diana decidió quedarse aquí para salvar al mundo.
			</div>
		</div>


        <footer id="bottom">
            <!--
            <p>Emilio Samuel Aced Fuentes <span class="email">&lt;emilioaquarisbq@gmail.com&gt;</span></p>
            <p>Diego Sáinz de Medrano <span class="email">&lt;diego.sainzdemedrano@gmail.com&gt;</span></p>
            -->
            <img src="assets/img/emilio.jpg" alt="Powerlevel over 9000">
            <span>Powered by</span>
            <span>Acerca de</span>
            <span>Contacto</span>
            <span>Aviso legal</span>
        </footer>

    </body>
</html>
