<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <base href=".">
        <link rel="stylesheet" href="styles/styles.css">
    </head>
    <body>

        <div id="main">
            <ul id="movies">
                <li class="movie-item">
                    <a href=""><h3>Emilio Jay P. G. Reloaded (2035)</h3></a>
                    <a href=""><img src="assets/img/emilio.jpg" alt=""></a>
                    <div class="information">
                        <p><span class="field">Descripción</span> En un mundo postapocalíptico donde se han perdido todas las capacidades tecnológicas de la humanidad, un héroe surgirá. La leyenda cuenta de un guerrero forjado en la EPS capaz de escribir los programas más poderosos en C. El Imperio de Lisp se impone sobre el mundo, y solo él puede detenerlos.</p>
                        <p><span class="field">Actores</span> Emilio Azed Fuentes (The Warrior of Light), Carlos Moreno Carracedo (The Evil Minion), Diego Sáinz de Medrano (The Kung Fu Master), Daniel Perdices (The Emperor)</p>
                        <p><span class="field">Géneros</span> Ciencia Ficción, Aventura</p>
                        <p><span class="field">Precio</span> 2000€ (quedan 1 DVD en stock)</p>
                    </div>
                    <button>Añadir al carrito</button>
                </li>
            </ul>
        </div>

    </body>
</html>
